<div class="ui-tab" id="about">
  <ul class="ui-tab-nav">
    <li class="ui-tab-nav-blog"><a href="/blog" data-page="blog">blog</a></li>
    <li class="ui-tab-nav-contact"><a href="/contact" data-page="contact">contact</a></li>
  </ul>
  <div class="ui-tab-panel"></div>
</div>
<p><button onclick="Bad.showPageByName('join', true);">Join us</button> click here to jump to another window</p>